@model SalamatKoodak.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">

                <div class="text-center text-blue" style="border-style:solid;">
                    <h2>تغییررمزعبور</h2>
                </div>
                <div class="form-horizontal">
                    @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                رمز فعلی :
                            </label>
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @style = "width:50%" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @style = "width:50%" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @style = "width:50%" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="تغییررمزعبور" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
